<!-- base.html -->
<!--/* common_header というfragment を定義。引数の title, links は fragment expressionsである */-->
<head th:fragment="head(title,links)">
  <meta charset="UTF-8" />
  <!-- 各Viewのタイトル -->
  <title>The replaced title</title>

  <!-- どのViewでも必ず読み込むファイル -->
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/js/problem.js" th:src="@{/js/problem.js}"></script>
  <link rel="stylesheet" media="all" th:href="@{/css/common.css}" />

  <!-- 各View固有で読み込むリンク -->
  <th:block th:replace="${links}" />
</head>