table tr:nth-child(odd){
	background-color: #d3d3d3;
}
table tr:nth-child(even) {
	background-color: #eeeeee;
}
.problem_list {
	padding: 0 0 0 10%;
}
form{
	position:absolute;
	top: 50px;
	left: 80px;
	
}
.selected {
	position:absolute;
	top: 50px;
	left: 800px;
	width: 500px;
	height: 600px;
	margin: 0 0 0 50px;
	border-style: groove;
	border-width: 2px;
}

tr{
}

th.tittle{
	width:500px;
}
.pager {
    overflow: hidden;
}
.pager{
	padding: 0 0 0 20px;
} 
.pager ul {
    list-style: none;
    position: relative;
    float: left;
}
 
.pager ul li {
    margin: 0 1px;
    position: relative;
    float: left;
}
 
.pager ul li span,
.pager ul li a {
    display: block;
    font-size: 16px;
    padding: 0.6em 1em;
    border-radius: 3px;
}
 
.pager ul li a {
    background: #EEE;
    color: #000;
    text-decoration: none;
}
 
.pager ul li a:hover {
    background: #333;
    color: #FFF;
}

.delete_all{
	position:absolute;
	left: 1370px;
}

