<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head(~{::title},~{::link})">
	<link rel="stylesheet" media="all" th:href="@{/css/contest.css}" />
	<meta charset="UTF-8"/>
	<title></title>
</head>
<body>
<div th:replace="common/header :: header()"></div>
	<div th:class="container">
		<div th:class="contents">
			<form th:action=@{list} th:object="${contestForm}" method="POST">
				<label th:for="*{name}">コンテスト名</label>
				<input type=text th:field="*{name}">
				<br/>
				<label th:for="*{startTime}">開催日時</label>
				<input type=datetime th:field="*{startTime}">
				<br/>
				<label th:for="*{duration}">制限時間</label>
				<input type=time th:field="*{duration}">
				<input type=submit th:class="save">
			</form>
		</div>
	</div>
	<table>
	<tbody th:each="id: ${ids}">
		<tr><td th:text="${id}"></td></tr>
	</tbody>
	</table>
	<a th:href="@{../problem/select}">問題を選択する</a>
	<div th:replace="common/footer :: footer()"></div>
</body>
</html>