<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head(~{::title},~{::link})">
	<link rel="stylesheet" media="all" th:href="@{/css/problem.css}"/>
	<meta charset="UTF-8"/>
	<title></title>
</head>
<body>
<div th:replace="common/header :: header()"></div>
	<div th:class="container">
		<form th:action = "@{../contest/register}" th:object="${selectedProblemsForm}" method="POST">
		<div th:class="problem_list">
			<table>
				<tr><th>問題番号</th><th th:class="tittle">タイトル</th><th>選択</th></tr>
				<tbody>
					<tr class="problem_list" th:each="problem: ${form.problems}">
					<td><a th:href="@{''+${problem.url}}" th:text="${problem.name}"></a></td>
					<td th:text="${problem.title}"></td>
    	   			<td><input type=checkbox th:class="cb" th:name="${problem.name}+','+${problem.title}" th:value="${problem.url}"/></td>
    	   			<tr>
 				</tbody>
			</table>
			<div class="pager">
		    <ul>
        		<li><a th:if="${no}>1" th:href="${no}-1">prev</a></li>
        		<li><a th:if="${no}>2" th:href="${no}-2" th:text="${no}-2"></a></li>
        		<li><a th:if="${no}>1" th:href="${no}-1" th:text="${no}-1"></a></li>
        		<li th:class="current"><span th:text="${no}"></span></li>
        		<li><a th:if="${no}<170" th:href="${no}+1" th:text="${no}+1"></a></li>
        		<li><span>...</span></li>
        		<li><a th:href="${lastPage}" th:text="${lastPage}"></a></li>
        		<li><a th:if="${no}<170" th:href="${no}+1">next</a></li>
    		</ul>
			</div>
		</div>
			<input type="submit" value="決定">
		</form>
		<div class="selected"><ul></ul></div>
	</div>
<div th:replace="common/footer :: footer()"></div>
</body>
</html>
